<!-- Registration is disabled. Please contact the admin to create your account. -->
            <option value="Switzerland">Switzerland</option>
            <option value="China">China</option>
            <option value="India">India</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create Password"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password2" class="form-label">Confirm Password</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirm Password"
            required
          />
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary">
            Register
          </button>
        </div>
      </form>
      <p class="mt-4">
        Have An Account? <a href="/users/login">Login</a>
      </p>
    </div>
  </div>
</div>